.super-admin-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-admin-container {
  background-color: white;
  margin: 3%;
  padding: 3%;
}

.super-admin-list-head {
  color: white;
  background-color: #718389;
  padding: 1% 0;
}

.super-admin-list-content {
  padding: 1% 0;
  border-bottom: 1px solid #dde7ee;
}

.super-admin-list-head,
.super-admin-list-content {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.super-admin-list-head > *,
.super-admin-list-content > * {
  width: 10%;
  font-size: 16px;
  padding: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.super-admin-list-element > input[type="button"] {
  width: 40%;
  padding: 2% 4%;
  border-radius: 4px;
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.super-admin-list-element > select {
  width: 40%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
}

.super-admin-pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.super-admin-pagination * {
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.super-admin-pagination *:hover {
  cursor: pointer;
}
