.select_car {
  margin: 3% 0;
}

h1,
h3 {
  text-align: center;
}

h1 > i,
div > i {
  margin-right: 1%;
}

#my-main > h1 > i {
  margin: 0 6px;
}

.item_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 30px 30px;
  height: 300px;
}

.item_list {
  flex: 1;

  margin: 10px;
  background-color: white;
}

.option_and_price {
  height: 220px;
  margin: 30px 30px;
  display: flex;
  flex-direction: row;
}

.option,
.rent-condition {
  flex: 2;
}

.price {
  background-color: #fff3cd;
  padding: 20px;
  flex: 1;
}

.list_group {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

.item_lists_title {
  display: flex;
  justify-content: space-between;

  height: 40px;

  background-color: #718389;
  color: white;
}

.item_list_title {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.list_group {
  height: calc(100% - 40px);
  overflow-y: auto;
}

.option_and_price > * {
  margin: 10px;
}

.price > hr {
  color: black;
  border: solid 1px;
}

.price div {
  margin: 10px;
}

.list-group-item label {
  cursor: pointer;
}

.list-group-item input:checked + label {
  color: #000;
  font-weight: 700;
  background: #dde7ee;
}

.list-group-item input {
  display: none;
}

.list-group-item label {
  width: 100%;
  padding: 10px 15px;
}

.list-group-item label span:last-child,
.price div span {
  float: right;
  color: red;
}

.list-group-item select {
  width: 120%;
  margin: 1% 2%;
  background-color: white;
}

/* bootstrap 중복값 변경 - start */
label {
  margin-bottom: 0;
  font-weight: 400;
}

.list-group-item {
  padding: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* bootstrap 중복값 변경 - end */

.rental-error-msg {
  padding: 1% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 4% auto;
}

.btn-container > input[type="button"] {
  color: #fff;
  font-weight: 700;
  background-color: #17a2b8;
  border-color: #17a2b8;
  padding: 8px 12px;
  border-radius: 4px;
}

.display-none {
  display: none;
}

.show-modal {
  z-index: 999;
  display: flex;
}

#my-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#alert-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1024px) {
  .item_lists,
  .option_and_price {
    flex-direction: column;
    justify-content: initial;
    overflow-y: auto;
  }
}
