h1,
h3 {
  text-align: center;
}

#my-main > h1 > i {
  margin: 0 6px;
}

.item_lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 30px 30px;
  height: 300px;
}

.item_list {
  flex: 1;

  margin: 10px;
  background-color: white;
}

.option_and_price {
  margin: 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 300px;
}

.option {
  flex: 3;
}

.price {
  background-color: #fff3cd;
  flex: 1;

  padding: 20px;
}

.list_group {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

.item_lists_title {
  display: flex;
  justify-content: space-between;

  height: 40px;

  background-color: #718389;
  color: white;
}

.item_list_title {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.list_group {
  height: calc(100% - 40px);
  overflow-y: auto;
}

.option_and_price > * {
  margin: 10px;
}

.price > hr {
  color: black;
  border: solid 1px;
}

.price div {
  margin: 10px;
}

.list-group-item label {
  cursor: pointer;
}

.list-group-item input:checked + label {
  color: #000;
  font-weight: 700;
  background: #dde7ee;
}

.list-group-item input {
  display: none;
}

.list-group-item label {
  width: 100%;
  padding: 10px 15px;
}

.list-group-item label span:last-child,
.price div span {
  float: right;
  color: red;
}

/* bootstrap 중복값 변경 */
label {
  margin-bottom: 0;
  font-weight: 400;
}

.list-group-item {
  padding: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
