.menu-list {
  list-style: none;
  padding-inline-start: 0px;
}

.menu-list li {
  padding: 16px 16px;
}

.menu-list li:hover {
  border-left: 3px solid dodgerblue;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu-icon {
  margin-right: 8px;
}
