.estimate_header {
  height: 60px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-content: center;
}

.estimate_header_left, .estimate_header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.estimate_header_left {
  margin-left: 10px;
}

.estimate_header_right {
  margin-right: 10px;
  word-break: keep-all;
}

.estimate_header_left > *, .estimate_header_right > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.estimate_header_left > * {
  font-size: 25px;
}

.estimate_header_left > *:last-child {
  width: 100px;
}