#my-main {
  background-color: #e5e5e5;
}

.my-main-margin-left {
  margin-left: -250px;
}

.background {
  width: 100%;
}

.background-bottom {
  display: none;
}

.pre-loader {
  width: 100px;
}

.input-hidden {
  display: none;
}

.list-error-msg {
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1280px) {
  .background-bottom {
    display: inline-block;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .my-main-margin-left {
    margin-left: 0px;
  }
}
