.origin {
  display: flex;

  background-color: white;
  color: #1465b1;

  border: solid 1px #1560a7;
}

.origin_radio {
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.checked_radio {
  background-color: #1560a7;
  color: white;
}
