.my-footer {
  background-color: rgb(177, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-open {
  margin-left: 0px;
}

.footer-close {
  margin-left: -250px;
}

@media only screen and (max-width: 768px) {
  .footer-open {
    margin-left: -300px;
  }

  .footer-close {
    margin-left: 0px;
  }

  #ft-copy {
    font-size: 12px;
  }
}
