.my-main {
  background-color: rgb(221, 229, 237);
}

.background {
  width: 100%;
}

.background-bottom {
  display: none;
}

.main-open {
  margin-left: 0px;
}

.main-close {
  margin-left: -250px;
}

@media only screen and (max-width: 1280px) {
  .background-bottom {
    display: inline-block;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .main-open {
    margin-left: -300px;
  }

  .main-close {
    margin-left: 0px;
  }
}
