.my-main {
  background-color: rgb(221, 229, 237);
}

.background img {
  width: 100%;
}

.main-open {
  margin-left: 0px;
}

.main-close {
  margin-left: -250px;
}

@media only screen and (max-width: 1280px) {
  .main-close {
    margin-left: 0px;
  }
}
