/* 1주차 다해 - Sidebar 컴포넌트 css 스타일 적용 */

#my-sidebar {
  background-color: rgb(37, 40, 42);
  overflow-x: hidden;
}

.show-my-sidebar {
  width: 250px;
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
}

.hide-my-sidebar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .show-my-sidebar {
    width: 200px;
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
  }
}
